
<ul class="pantry-items">
  <li class="create-new">
    <form {{action createNewItem newTitle on="submit"}}>
      {{input type="text" value=newTitle classNames="title"}}
      <input type="submit" value="Create" />
    </form>
  </li>

  {{#each item in filteredItems}}
    {{view "pantry-item" tagName="li" item=item}}
  {{/each}}

</ul>

